@model MVCItemGen.ViewModels.ItemListViewModel

<h2>List</h2>
@foreach(var item in Model.ItemList)
{
    <h3>Item ID: @item.ItemType</h3>
    <h4>Name:    @item.Name</h4>
    <h4>Value:   @item.Value</h4>
    <h4>Durability:  @item.CurrentDurability / @item.MaxDurability</h4>

}

